*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/dist
/build
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/backups
/storage/app/biometric-deleted-logs
/storage/app/*.sqlite
/storage/app/*.sqlite-*
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
